
{{#if unlogged}}
<navbar>
    <p><a href="/register">Register</a> | <a href="/login">Login</a></p>
</navbar>
{{else}}
<navbar>
    <p><a href="/petition/signers">All Signers</a> | <a href="/petition/signed">My Signature</a> | <a href="/edit-profile">My Profile</a> | <a href="/logout">Logout</a>
</navbar>
{{/if}}