:root,
html.sandblast {
    --main-bg: papayawhip;
    --content-bg: blanchedalmond;
    --link-color: saddlebrown;
    --text-color: darkslategray;
}

html.aquafresh {
    --main-bg: azure;
    --content-bg: mintcream;
    --link-color: darkcyan;
}

html.candyland {
    --main-bg: mistyrose;
    --content-bg: lavenderblush;
    --link-color: crimson;
}

html.hazyshadeofwinter {
    --main-bg: whitesmoke;
    --content-bg: snow;
    --link-color: rosybrown;
}

html.fiftyshades {
    --main-bg: lightgray;
    --content-bg: gainsboro;
    --link-color: dimgray;
}

html.whendovescry {
    --main-bg: plum;
    --content-bg: #ce96dc;
    --link-color: rebeccapurple;
}

* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg);
    color: var(--text-color);
    margin: 20px;
    font-size: 20px;
    font-family: arial;
}

a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: underline;
    outline: 0;
}

code {
    font-family: courier;
    background-color: var(--main-bg);
}

blockquote {
    white-space: nowrap;
    overflow-x: auto;
}

details {
    margin-top: 1em;
}

summary {
    outline: none;
    cursor: pointer;
}

#logo {
    height: 40px;
}

main {
    margin: 30px auto;
    max-width: 980px;
}

p {
    line-height: 1.3em;
}

.action-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 10px 10px 7px;
    border: 3px darkslategray solid;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px 0;
    color: var(--text-color);
    white-space: nowrap;
    text-transform: uppercase;
    background-color: var(--main-bg);
    outline: 0;
    font-weight: bold;
}

.action-button:hover {
    transform: scale(1.1);
    transform-origin: left;
}

.action-button img {
    height: 30px;
    margin-left: 10px;
    position: relative;
    top: -3px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 980px;
    margin: 0 auto;
}

header .spicedling {
    height: 44px;
    border: 2px slategray solid;
    border-radius: 5px;
}

.error {
    color: orangered;
}

.error .generic,
.error .missing,
.error .unopenable {
    color: var(--text-color);
}

.missing .directories {
    background: var(--main-bg);
    color: var(--text-color);
    white-space: pre;
    margin: 20px 0;
    padding: 10px 0;
    line-height: 1.5em;
    font-family: courier;
    font-size: 16px;
}

h1 em {
    color: saddlebrown;
}

section,
article {
    padding: 10px 20px 20px;
    background: var(--content-bg);
    border-radius: 5px;
    margin: 0 auto 30px;
    border: 2px slategray solid;
}

article {
    margin: 30px auto;
    position: relative;
}

article h1 {
    font-size: 36px;
}

article pre {
    background-color: darkslategray;
    padding: 10px;
    overflow-x: auto;
    border-radius: 5px;
}

article pre * {
    background-color: darkslategray;
    color: white;
}

article div.highlighted {
    padding: 3px 10px;
    display: inline-block;
    min-width: calc(100% + 20px);
    position: relative;
    left: -10px;
}

article div.highlighted,
article div.highlighted * {
    font-weight: bold;
    background-color: #334;
}

article img {
    max-width: 100%;
}

article div.edit {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

article div.edit a,
article div.edit a:hover,
article div.edit a:active {
    text-decoration: none;
    transform: scaleX(-1);
    outline: 0;
    margin-left: 10px;
}

article div.edit button {
    background: transparent;
    border: 0;
    padding: 0;
    font-size: 25px;
    cursor: pointer;
}

#preview,
#save {
    display: flex;
    justify-content: center;
}

#preview button,
#save button {
    font-size: 20px;
}

section li,
article li {
    margin: 20px 0;
}

#file {
    width: 1px;
    height: 1px;
    transform: translateX(-10000px);
}

.file-selection .x {
    text-decoration: none;
    vertical-align: super;
    cursor: pointer;
}

.plagiarism-tickbox {
    margin: 2rem 0 1rem;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.disabled:hover {
    transform: scale(1);
}

h3 {
    margin-bottom: 0.5em;
}

#modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
    border: 1px slategray solid;
}

#fake-users {
    display: inline-flex;
    flex-direction: column;
    margin: 10px 0;
}

#fake-users div {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
}

#fake-users label {
    margin-right: 10px;
}

#fake-users input {
    vertical-align: middle;
    border: 3px darkslategray solid;
    border-radius: 5px;
    padding: 3px 10px;
}

#fake-users button {
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
}

input[type='checkbox'] {
    vertical-align: middle;
    margin: 0;
}

#add-file {
    color: saddlebrown;
    text-decoration: underline;
    cursor: pointer;
}

span#waiting {
    animation-name: waiting;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
}

#waiting-widget {
    transform: translateY(-100%);
    display: none;
}

@keyframes waiting {
    50% {
        transform: rotate(0.5turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

form.reactions {
    display: none;
    align-items: baseline;
}

#reactions {
    font-size: 28px;
    background: var(--main-bg);
    border: 1px darkslategray solid;
    outline: none;
    margin: 0 10px;
    line-height: 1.75em;
}

form.reactions span {
    white-space: nowrap;
}

form.reactions .thanks {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

@media (max-width: 500px) {
    form.reactions {
        flex-direction: column;
        align-items: center;
    }
    #reactions {
        margin: 10px 0;
    }
}

.cohort {
    text-transform: capitalize;
}

.workshop h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.workshop .type,
.workshops .type {
    text-transform: capitalize;
}

dd.workshop {
    margin-top: 1em;
}

.schedule-item {
    margin: 1em 0;
    display: flex;
}

.schedule-item p {
    display: inline;
}

form.share-gist {
    display: inline-flex;
    margin: 0;
    padding: 0;
    height: 25px;
    margin: 0 10px;
}

form.gist {
    display: flex;
    margin: 0;
    align-items: center;
}

form.gist select {
    font-size: 16px;
    margin: 0 0 0 10px;
}

form.share-gist button {
    display: inline-flex;
    justify-content: space-between;
    height: 25px;
    cursor: pointer;
    border: 0;
    background: transparent;
}

form.share-gist img {
    width: 25px;
}

#gist-github {
    position: absolute;
    top: 10px;
    right: 10px;
}

.notes.off {
    display: none;
}

#notes-start {
    cursor: pointer;
    font-size: 26px;
}

#notes-editor {
    position: relative;
    padding-bottom: 80px;
}

#view-rendered {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 26px;
    z-index: 1000;
    cursor: pointer;
}

#notes-editor.off {
    display: block;
    visibility: hidden;
    position: fixed;
    left: -10000px;
}

.notes h4 {
    margin: 1em 0 7px;
    font-weight: normal;
}

.notes article {
    margin-top: 0px;
    min-height: 3em;
}

.CodeMirror-code {
    font-size: 16px;
}

#themes {
    background: var(--main-bg);
    color: var(--link-color);
    font-family: arial;
    font-size: 20px;
    border: 1px darkslategray solid;
    border-radius: 2px;
    outline: 0;
}

option[value='sandblast'] {
    background: papayawhip;
    color: saddlebrown;
}

option[value='candyland'] {
    background: mistyrose;
    color: crimson;
}

option[value='aquafresh'] {
    background: azure;
    color: darkcyan;
}

option[value='hazyshadeofwinter'] {
    background: whitesmoke;
    color: rosybrown;
}

option[value='fiftyshades'] {
    background: lightgray;
    color: slategray;
}

option[value='whendovescry'] {
    background: plum;
    color: rebeccapurple;
}

img[alt='flowchart social network 4'] {
    max-width: 500px;
}

img[alt='friend button flowchart'] {
    max-width: 700px;
}

#emojis {
    position: absolute;
    visibility: hidden;
    min-width: 200px;
    border: 1px darkslategray solid;
    border-radius: 2px;
    z-index: 99999999;
    background-color: papayawhip;
    font-size: 16px;
}

#emojis div {
    border-bottom: 1px darkslategray solid;
    padding: 5px;
}

#emojis div:last-child {
    border-bottom: 0px;
}

#emojis div.on {
    font-weight: bold;
    font-style: italic;
    background-color: blanchedalmond;
}

#emojis span {
    font-style: normal;
}

#credentials button {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.presenter {
    padding: 10px 0;
    margin-left: 20px;
}

.presenter span:hover {
    background: var(--main-bg);
    cursor: pointer;
}

.presenter span.on {
    font-weight: bold;
}

.presenter.up {
    transform: translateY(-100%);
}

.presenter.down {
    transform: translateY(100%);
}

.dummy {
    position: absolute;
    background-color: var(--main-bg);
    font-weight: bold;
    cursor: move;
}

form.presentation button {
    background: transparent;
    border: 0;
    color: var(--link-color);
    font-weight: normal;
    font-size: 20px;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.week tr:nth-child(odd) {
    background-color: var(--main-bg);
}

.week tr:first-child,
.week td:first-child {
    font-weight: bold;
}

table.week td {
    padding: 10px;
    text-align: left;
    border: 1px darkslategrey solid;
}

table.week td a {
    display: block;
}
