<h1>Thank you for supporting our petition!</h1>
<img src={{signature}} alt="your signature">
<form method="POST">
    <button id="delete">delete my signature</button>
</form>
<p>you are a good person!</p>
<a href="/petition/signers">See all {{numSigners}} signers</a>