<div id="text">
<h3>Thank you for supporting our petition!</h3>
<img src={{signature}} alt="your signature">
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id="delete">delete my signature</button>
</form>
<p>you are a good person!</p>
<a href="/petition/signers">See all {{numSigners}} signers</a>
</div>
<div id="picture"><p>bla</p></div>