body {
    margin: 0;
    font-family: Montserrat, Helvetica, sans-serif;
    background-color: #900c3f;
    height: 100vh;
}

header {
    background-color: #bad4d6;
    margin: 0;
    height: 180px;
}

h1 {
    font-size: 60px;
    color: #900c3f;
    /*     color: #c44536; */
    /* color: #4a7c59; */
    /* color: #772e25; */
    padding: 5px;
    margin: 0;
    /* text-transform: uppercase; */
    text-align: center;
    font-family: "Dancing Script", cursive;
}

h2 {
    font-size: 20px;
    /* color: #c44536; */
    color: #197278;
    padding: 5px;
    margin: 0;
    text-align: center;
}

h3 {
    color: #900c3f;
    font-size: 25px;
}

p {
    color: #197278;
    font-size: 20px;
}

label p {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

navbar p {
    background-color: #bad4d6;
    /* color: #197278; */
    color: #900c3f;
    margin: 0;
    text-align: right;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: bold;

    /* color: #283d3b; */
}

navbar a {
    text-decoration: none;
}

navbar a:visited {
    text-decoration: none;
    color: #197278;
    margin: 0;
    text-align: right;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 15px;
}

form {
    position: relative;
}

canvas {
    background-color: #bad4d6;
    border: 2px #197278 solid;
    margin: 0;
}

.error {
    color: #900c3f;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0;
    padding-top: 50px;
    height: 550px;
    overflow: auto;
    /* 
    background-size: 100vw;
    height: 100vh;
     */
}

#text {
    text-align: center;
    margin: 0 0 50px 50px;
    background-color: #edddd4;
    padding-left: 20px;
    padding-right: 20px;
}

#picture {
    height: 550px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 5%;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
    background-image: url("./assets/zahnpasta2.jpg");
}

button {
    margin-top: 20px;
    background-color: #bad4d6;
    color: #900c3f;
    padding: 10px;
    border: 2px #197278 solid;
    border-radius: 5px;
    margin-bottom: 50px;
}

ul {
    text-align: left;
    list-style-type: none;
    color: #197278;
    padding-inline-start: 0;
}

#look {
    text-align: left;
}

a {
    color: #197278;
}

a:visited {
    color: #197278;
}

/* ------------MOBILE VERSION ----------------------*/

@media screen and (min-width: 320px) and (max-width: 480px) {
    main {
        display: flex;
        flex-direction: column-reverse;
    }

    header {
        height: 280px;
    }
    #picture {
        height: 250px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-left: 0;
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 50px;
    }

    #text {
        margin-right: 50px;
        margin-left: 50px;
        padding-bottom: 50px;
    }

    form {
        text-align: center;
    }

    #canvasContainer {
        border: 2px #197278 solid;
        overflow: hidden;
    }
    canvas {
        border: none;
    }
}
